[Unit]
Description=False Idols Server
After=network.target

[Service]
WorkingDirectory=/usr/local/bin/

ExecStart=/usr/local/java/jdk-23.0.2/bin/java -jar /usr/local/bin/false-idols-server.jar

StandardOutput=append:/root/false-idols-server.log
StandardError=append:/root/false-idols-server-error.log

[Install]
WantedBy=default.target
